---

- name: Install Openshift

  hosts: local

  vars_files:
    - vars/aws-config.yml

  vars:
    state: 'present'

  roles:
  - setup-vpc
  - setup-security-groups
  - setup-virtual-machines
  - setup-dns
  - setup-ssh
  - openshift-pre-reqs
  - openshift-install

  post_tasks:
   - name: Confirmation message
     debug:
      msg: 'Finished, public master IP: {{master_public_ip}}'

